<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); -%>
        <script src="https://cdn.tiny.cloud/1/j88n7vsi5hpagmnp5msgytaym6vlj8lwkxa4y7kcn6l2mq4v/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    </head>
<body>

    <div class="home-container">

        <!-- Header -->
        <%- include('layouts/header'); -%>

         <!-- Nav section -->
         <%- include('layouts/nav'); -%>

         <main class="main-form-content addPosts-form-content">
            <h1>Lets Talk Karaoke</h1>
            <div class="login-form-container">
                <form action="" class="login-form-content"  name="logins-form" onsubmit="return formSubmit();" enctype="multipart/form-data"  method="post"> 
                    <div>
                        <label for="pagetitle">Page Title:</label>
                        <input id="pagetitle" type="text" placeholder="Page Title" name="pagetitle"/>
                     </div>
                     <div>
                        <label for="fileImage"> Hero Image: </label>
                        <input type="file" class="form-input" name="fileImage" id="fileImage"> <br><br>
                     </div>
                               <!-- WYSIWYG setup -->
                <script>
                    tinymce.init({
                    selector: 'textarea',
                    plugins: 'table  lists media paste',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ],
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
                    });
            </script>
            <textarea placeholder="What's on your mind....." cols="50" rows="10" name="desc">
            
            </textarea>
    
                     <div class="submit-cont"> 
                        <div >
                                <input class="styled-form-checkout-button" type="submit" value="submit" > 
                        </div>
                    </div>

               
    
                </form>
    
                <div class="login-div-errors"> 
                <p id="form-errors" > 
                    <% if(typeof(errors) != 'undefined') { %>
                        Errors detected: 
                      <%  for(let error of errors) { %>
                            <br><%= error.msg %>
                       <% } %>
                    <%} %>
                </p>
                </div>
            </div>

            <div class="submit-cont bottom-right"> 
                <div>
                    <form action="/logout" method="GET"> 
                        <input class="styled-form-checkout-button " type="submit" value="Logout" > 
                    </form>
                </div>
            </div>
    
        </main>

         <!-- Footer -->
         <%- include('layouts/footer'); -%>

     </div>

    
</body>
</html>