<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); -%>
    </head>
<body>

    <div class="home-container">

        <!-- Header -->
        <%- include('layouts/header'); -%>

         <!-- Nav section -->
         <%- include('layouts/nav'); -%>

         <main class="main-form-content">
            <h1>Login</h1>
            <div class="login-form-container">
                <form action="" class="login-form-content"  name="logins-form" onsubmit="return formSubmit();"  method="post"> 
                    <div>
                        <label for="username">Username:</label>
                        <input id="username" type="text" placeholder="username" name="username" autofocus/>
                     </div>
                     <div>
                        <label for="password">Password:</label>
                        <input id="password" type="password" placeholder="xxxxxx" name="password"/>
                     </div>
    
                     <div class="submit-cont"> 
                        <div>
                                <input class="styled-form-checkout-button" type="submit" value="Login" > 
                        </div>
                    </div>
    
                </form>
    
                <div class="login-div-errors"> 
                <p id="form-errors" > 
                    <% if(typeof(error) != 'undefined') { %>
                        Errors detected: 
                            <br><%= error %>
                    <%} %>
                </p>
                </div>
            </div>
    
        </main>

         <!-- Footer -->
         <%- include('layouts/footer'); -%>

     </div>
</body>
</html>