<html>
  <head>
    <%- include('layouts/head'); -%>
  </head>
    <body>
      <%= console.log("is Success value",message.isSuccess) %>
      <%= console.log("message Title value",message.messageTitle) %>
      <%= console.log("is Edit value",message.isEdit) %>
      <div class="success-home-cont"> 
        <div class="success-card">
        <div class="checkmark-holder" >
          <% if (message.isSuccess) { %>
            <i class="checkmark">✓</i>
        <% } else { %>
          <i class="checkmark">x</i>
        <% } %>
        
        </div>
            <h1 class="success-message">Success</h1> 
            <% if (message.isEdit) { %>
              <p><strong><%= message.messageTitle %></strong>  <a href="/<%= message.isLinkEdit %>">here</a></p>
          <% } else { %>
              <p><strong><%= message.messageTitle %></strong>  Return to <a href="/">home</a></p>
          <% } %>
          
        </div>
     </div>

    </body>
</html>