<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); -%>
        <script src="https://cdn.tiny.cloud/1/j88n7vsi5hpagmnp5msgytaym6vlj8lwkxa4y7kcn6l2mq4v/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    </head>
<body>

    <div class="home-container">

        <!-- Header -->
        <%- include('layouts/header'); -%>

         <!-- Nav section -->
         <%- include('layouts/nav'); -%>

         <main>
            <section>
                <h1 class="view-pages-heading centered-text">Edit Pages</h1>
         
                <table id="table">
                    <thead>
                        <th>Page</th>
                        <th>Manage</th>
                        <th>Manage</th>
                    </thead>
        
                    <tbody> 
                        <% pages.forEach((page) => { %>
                        <tr>
                            <td > <%= page.pageTitle %> </td>
                            <td > <a  class="view-pages-manage-link" href="/edit/<%=page.pageTitle%>" >Edit</a></td>
                            <td>  <a class="view-pages-manage-link"  href="/delete/<%=page.pageTitle%>">Delete</a></td>
                        </tr>
                        <% } ) %>

                    </tbody>
                </table>
             
        
            </section>
    
        </main>

         <!-- Footer -->
         <%- include('layouts/footer'); -%>

     </div>

    
</body>
</html>